<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <app-header></app-header>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <app-shoppingList></app-shoppingList>
                <app-shopping-list-edit></app-shopping-list-edit>
            </div>
            <div class="col col-md-6">
                <app-recipeList></app-recipeList>
                <app-recipeItem></app-recipeItem>
                <app-recipeDetail></app-recipeDetail>
            </div>
        </div>
    </div>
</div>