<div class="row" *ngIf="recipe">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="recipe.name" class="img-responsive">
    </div>
</div>
<div class="row" *ngIf="recipe">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingredients</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row" *ngIf="recipe">
    <div class="col-xs-12">
        <div ngClass="pull-left">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span class="pull-right">
            <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 50px;">
        </span> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients... 
    </div>
</div>